body {
  font-family: Arial;
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
  text-align: center;
  padding: 30px;
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
}

input, select, button {
  margin: 10px;
  padding: 8px;
  width: 90%;
}

button {
  background: #ff4b2b;
  color: white;
  border: none;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}